.dis{
    background-color: #f2f2f2;
    min-height: 100vh;
    overflow: hidden;
}

.dis-main{
    max-width: 50%;
    margin-left: 360px;
}
.dis-in-title{
    margin-top: 15px;
    margin-bottom: 15px;
}

.dis-in-desc{
    margin-top: 15px;
    height: 100px;
}

.btn-dis{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: rgb(214, 179, 103);
    border: 2px solid bisque;
    width: 100px;
   border-radius: 20px;
}

.dis-top{
    display: flex;
}

.dis-search{
    max-width: 30%;
    width: 30%;
    margin-right: 0;
    border: 2px solid black;
}

.topic{
    margin-top: 3px;
    text-align: left;
    max-width: 70%;
    margin-left: 0px;
    width: 100%;
}

.title-top{
    margin-top: 20px;
    border-radius: 20%;
}

.comments{
    display: flex;
    
}

.dis-prof{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

.lin{
    text-decoration: none;
    width: 93vw;
}

.dis-head{
    background-color: #f2f2f2;
}

.dis-name{
    display: flex;
}

.dis-name1{
    max-width: 100%;
    width: 100%;
    text-align: right;
}

input[type="text"],
textarea {
    border: 1px solid #ccc; 
    border-radius: 8px; 
    padding: 10px; 
    font-size: 16px; 
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 100%;
}


input[type="text"]:hover,
textarea:hover {
    border-color: #aaa; 
}




textarea {
    resize: vertical; 
}

input[type="text"],
textarea {
    background-color: #f9f9f9; 
}


.dis-in-title {
    margin-top: 15px;
    margin-bottom: 15px;
}

.dis-in-desc {
    margin-top: 15px;
    height: 100px;
}
