.profile {
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2; 
  padding: 20px;
  min-height: 89vh;
  background: linear-gradient(135deg, #6181ac 0%, #aac0e7 100%);
}

.info {
  width: 40%;
  padding: 20px;
  background-color: #fff; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.details {
  width: 55%;
  padding: 20px;
  background-color: #fff; 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.prof {
  align-items: center;
}

.pf {
  background-color: #007bff; 
  color: #fff; 
  border: none;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  font-size: 24px;
  margin-bottom: 20px;
  cursor: pointer;
}

.details h2 {
  margin-top: 0;
}

.details h3 {
  margin-top: 0;
}

.details p {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .profile {
    flex-direction: column;
  }

  .info,
  .details {
    width: 100%;
    margin-bottom: 20px;
  }
}
